

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins','sans-serif';
}
.body{
    background: #081b29;
}
.section{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: yellowgreen;
    padding: 20px 10%;

}